.banner-button {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background:linear-gradient(to bottom, #63b8ee 5%, #000000 110%);
	background-color:#63b8ee;
	border-radius:100%;
	// display:inline-block;
	cursor:pointer;
	font-size:12px;
	padding:6px 9px;
	text-decoration:none;
	height: 55px;
	width: 55px;
	opacity: 0.5;
	
}
.button-container{
	margin-top: 90px;
}
button:hover {

}
button{
	position:relative;
	top:1px;
}

        