.too-bar{
    background: black;
    height: 60px;   
    opacity: 0.4;
    display: flex;
    align-items: flex-start;
    padding: 0 0;
    display: flex;
    justify-content: space-around;
}
.hide-icon-too-bar{
    opacity: 0;
}
.button-too-bar{
    opacity: 0.8;
}
.button-ativo{
    opacity: 1;
}